:root {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(81, 206, 108);
  color: #ffff;
}
